{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <center>
        <h1>
            Hello Index!
        </h1>

        <img src="{% static 'images/django.png' %}">

        <h2>
            {{curso}}
        </h2>

        <h3>
            {{linguagem}}
        </h3>

        <h4>
            Logado: {{logado}}
        </h4>

        <table>
            <tr>
                <th>Produto</th>
                <th>Preço</th>
            </tr>
            {% for produto in produtos %}
            <tr>
                <td><a href="{% url 'produto' produto.id %}">{{produto.nome}}</a></td>
                <td>{{produto.preco}}</td>
            </tr>
            {% endfor %}
        </table>

        <button onclick="teste();">Ativar JS</button>
    </center>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>